nav {
  display: inline-block;
  color: black;
}
header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquaMarine;
}
.logo img {
  padding-right: 15px;
}
#main {
  display: inline-block;
  flex-direction: column;
}
#first {
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 3px solid black;
}
#second {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 3px solid black;
}
#third {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 3px solid black;
}
